<div>
  <div class="col-md-2 offset-md-3">
    <%= user_avatar(current_user, class: 'media-object rounded-circle avatar-profile') %>
  </div>
  <div class="col-2">
    <%= current_user.name %>
  </div>
</div>
