.footer {
  height: 5rem;
  background-color: rgba(221, 221, 221, 1);
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  position: absolute;
}

.root-active{
	background-color: rgba(221, 221, 221, 1) !important;
}
