.avatar-circle {
  width: 100px;
  height: 100px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-color: green;
}

.initials {
  position: relative;
  top: 25px; /* 25% of parent */
  font-size: 50px; /* 50% of parent */
  line-height: 50px; /* 50% of parent */
  color: #fff;
  font-family: "Courier New", monospace;
  font-weight: bold;
}

.avatar-profile {
  width: 100px;
  height: 100px;
}
