<footer class="footer w3-center w3-black w3-padding-16">
  <p>Powered by <a href="https://github.com/phamchien98/" title="phamchien98" target="_blank" class="w3-hover-text-green">PhamChien</a></p>
</footer>

<%= stylesheet_link_tag "footer" %>
